*{
    margin: 0px;
    padding: 0px;
    cursor: pointer;

}
body{
/* overflow-x: hidden; */
}
.header-1{
    position: relative;
    height: 700px;
    width: 100%;
    /* background-color: red; */
    background-image:linear-gradient(rgba(139, 72, 228, 0.849),rgba(139, 72, 228, 0.849)),url("hero.jpg");

}
.navbar{
    position: relative;
    height: 150px;
    width: 100%;
    /* background-color: crimson; */
}
.logo{
    position: absolute;
    height: 100%;
    width: 200px;
    /* background-color: brown; */
    background-image: url("logo.png");
    background-size: 100% 100%;
    color: black;
    left: 20px;
    transition: transform  2s ease-in-out ;
}

.navbar>ul{
    margin-left: 400px;

}
.navbar>ul>li{
    float: left;
    list-style: none;
    margin-left: 80px;
    margin-top: 70px;
    font-size: 25px;
    color: white;
    transition: transform  2s ease-in-out ;
    
}
.navbar>ul>li:hover{
    transform: scale(1.5);
    color: red;
}
.p-1{
    height: 480px;
    width: 600px;
    /* background-color: yellow; */
    float: left;
}
.p-1>h1{
    position: relative;
    font-size: 50px;
    width: 250px;
    left: 150px;
    top: 100px;
    /* background-color: blue; */
    /* border: 1px solid green; */
    transition: transform  2s ease-in-out ;
}
.p-1>h1:hover{
    color: white;
    transform: scale(1.3);
    
}
.p-1>p{
    position: relative;
    font-size: 20px;
    left: 150px;
    top: 130px;
    transition: transform  2s ease-in-out ;
}
.p-1>p:hover{
    color: white;
    transform: scale(1.3);
   
}
.p-1 button{
    position: relative;
    font-size: 20px;
    left: 150px;
    top: 170px;
    border-radius: 15px;
    padding: 10px;
    /* box-shadow: 5px 5px 5px 5px red; */
    background-color: transparent;
    transition: transform  2s ease-in-out ;
    
}
.p-1>button:hover{
    color: white;
    transform: scale(1.3);
    
}
.p-2{
    position: relative;
    height: 400px;
    width: 300px;
    /* background-color: red; */
    float: left;
    left: 200px;
    top: 60px; 
    background-image: url("pic1.png");
    background-size: 100% 100%;
    transition: all 2s ease-in-out;
} 
.p-2:hover{
    /* color: white; */
    transform: scale(1.3);
    
}
.header-2{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: gray;
}
.header-2>.div{
    position: relative;
    height: 500px;
    width: 360px;
    /* border: 1px solid black; */
    float: left;
    top: 50px;
    left: 50px;
    margin-left: 60px;
    /* right: 20px; */
    transition: all 2s ease-in-out;
}
.header-2>div:hover{
   
    transform: scale(1.1);
}
.q{
    background-color: white;
}
.header-2>div>h2{
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 25px;
    transition: all 2s ease-in-out;
}
.header-2>div>h1{
    position: absolute;
    top: 230px;
    left: 50px;
    font-size: 40px;
    transition: all 2s ease-in-out;
}
.header-2>div>p{
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 15px;
    padding: 15px;
    transition: all 2s ease-in-out;
}
.header-2>div>h1:hover{
    color: red;
    transform: scale(1.3);
}
.header-2>div>p:hover{
    color: red;
    transform: scale(1.2);
}
.header-2>div>h2:hover{
    color: yellow;
    transform: scale(1.3);
}
.far{
    margin-left: 130px;
    margin-top: 50px;
    font-size: 100px;
}
.fas{
    margin-left: 130px;
    margin-top: 50px;
    font-size: 100px;
}
.header-2>.q>h1{
    position: absolute;
    top: 200px;
    left: 30px;
    font-size: 40px;
}
.header-2>.q>p{
    position: absolute;
    top: 300px;
    left: 30px;
    font-size: 15px;
}
.header-2>.q>h2{
    position: absolute;
    top: 450px;
    left: 50px;
    font-size: 25px;
}
.header-3{
    position: relative;
    height: 800px;
    width: 100%;
    /* background-color: violet; */
    /* border: 1px solid red; */
}
.header-3>h2{
    position: absolute;
    top: 30px;
    left: 550px;
    font-size: 40px;
    transition: all 2s ease-in-out;
}
.header-3>h2:hover{
    transform:skewX(45deg);
    color: yellow;
}
.header-3>h1{
    position: absolute;
    top: 100px;
    left: 450px;
    font-size: 50px;
    transition: all 2s ease-in-out;
   
}
.header-3>h1:hover{
    transform:scale(1.3);
    color: red;
}
.header-3>p{
    position: relative;
    top: 200px;
    left: 0px;
    font-size: 20px;
    text-align: center;
    transition: all 2s ease-in-out;
}
.header-3>p:hover{
    transform:translate(70px);
    color: red;
}
.p1{
    position: absolute;
    height: 400px;
    width: 450px;
    top: 350px;
    left: 100px;
    background-color: turquoise;
    background-image: url("pic3.jpg");
    background-size: 100% 100%;
    transition: all 2s ease-in-out;
}
.p1:hover{
    transform: scale(.8);
}
.p-00{
    position: absolute;
    height: 500px;
    width: 640px;
    /* background-color: black; */
    left: 700px;
    top: 300px;
    /* border:2px solid red; */
}
.p2{
    /* position: relative; */
     height: 200px; 
    width: 250px; 
    border: 1px solid black;
    top: 40px;
    /* left: 500px; */
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    /* background-color: yellow; */
    border-radius: 15px;
    transition: all 2s ease-in-out;


}
.p-00 .aas{
    position: relative;
    right: 30px;
    top: -20px;
    color: white;
    background-color: black;
}
.p-00 h2{
    position: relative;
    left: 20px;
    top: 20px;
}
.p-00 h1{
    position: relative;
    left: 20px;
    top: 25px;
}
.p-00 p{
    position: relative;
    left: 20px;
    top: 40px;
}
.aaa:hover{
    transform: scale(1.2);
}
.qq:hover{
    transform: scale(0.9);
}
/* .a1:hover{ */
    /* scale: 0.5; */
    /* border:2px solid red; */
    /* background-color: red; */

/* .container
{
    width:100%;
    height: 50vh;
    background-color: rosybrown;
    position: relative;
}
.container div:nth-child(1)
{
    width: 40%;
    height: 100%;
    border:2px solid c;
    float: left;
}
.right
{
    width: 58%;
    height: 100%;
    border:2px solid red; 
    float: left;
} */

.header-4{
    position: relative;
    height: 400px;
    width: 100%;
    /* background-color: blue; */
    background-image:linear-gradient(rgba(86, 79, 151,.5),rgba(86, 79, 151,.5)),url(pic4.jpg);


    background-size: 100% 100%;
    /* opacity: 0.4; */
}
.d{
    position: relative;
    height: 200px;
    width: 250px;
    background-color: transparent;
    top: 100px;
    left: 50px;
    float: left;
    margin-left: 60px;
    text-align: center;
    margin: 20px;
    color: white;
    border-radius: 100px;
    padding: 10px;
    transition: all 2s ease-in-out;
}
.d>.icon{
    font-size: 40px;
    /* height: 20px; */
    /* width: 50px; */
    text-align:left;
    margin-top: 40px;
    margin-left: 20px;
    /* padding: 10px; */
    /* margin-right: 30px; */
}
.d>h1,.d>h2{
    margin-top: 10px;
}
.d:hover{
    transform: scale(1.1);
    background-color: black;
}




.header-5{
    position: relative;
    height: 1150px;
    width: 100%;
    background-color: white;
    /* background-color: violet; */
    /* border: 1px solid red; */
}
.header-5>h2{
    position: absolute;
    top: 30px;
    left: 550px;
    font-size: 40px;
    transition: all 2s ease-in-out;
}
.header-5>h2:hover{
    transform:skewX(45deg);
    color: yellow;
}
.header-5>h1{
    position: absolute;
    top: 100px;
    left: 450px;
    font-size: 50px;
    transition: all 2s ease-in-out;
   
}
.header-5>h1:hover{
    transform:scale(1.3);
    color: red;
}
.header-5>p{
    position: relative;
    top: 200px;
    left: 0px;
    font-size: 20px;
    text-align: center;
    transition: all 2s ease-in-out;
}
.header-5>p:hover{
    transform:translate(70px);
    color: red;
}
.header-5>div{
    position: relative;
    height: 690px;
    width: 350px;
    background-color: white;
    left: 100px;
    top: 300px;
    float: left;
    margin-left: 30px;
    box-shadow: 5px 5px 5px 5px black;
    transition: all 2s ease-in-out;
}
.header-5>.div:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}
.div>h1{
    text-align: center;
    margin: 10px;
    font-size: 50px;
    margin-bottom: 30px;
}
.div>h2{
    text-align: center;
    margin: 10px;
    font-size: 50px;
    margin-bottom: 30px;
}
.div>h3{
    text-align: center;
    margin: 10px;
    font-size: 50px;
    margin-bottom: 30px;
}
.div>h4{
    margin-top:20px;
}
.con{
    font-size: 20px;
    color: green;
    margin: 2px;
}
button{
    height: 50px;
    width: 250px;
    color: white;
    background-color: green;
    border-radius:15px ;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.header-6{
    position: relative;
    height: 450px;
    width: 100%;
    background-color: gray;
    padding: 1px;
}
.header-6>h1{
    margin-left: 30px;
    margin-top: 50px;
    font-size: 50px;
}
.header-6>p{
    margin-left: 30px;
    margin-top: 50px;
    font-size: 20px;
}
.header-6>.p-8{
    height: 300px;
    width: 400px;
    background-color: white;
    margin-left: 800px;
    margin-top: -150px;
    transform: rotate(-10deg);
    color: black;
    font-size: 20px;
    transition: all 2s ease-in-out;
}
.p-8>.pic5{
    height: 70px;
    width: 70px;
    background-color: white;
    margin: 30px 0px 0px 100px;
    background-image: url("pic5.jpg");
    background-size: 100% 100%;
    border-radius: 100px;
}
.p-8>h1{
    color: white;
    font-size: 30px;
    margin: -50px 0px 0px 200px;
}
.p-8:hover{
    transform: rotate(0deg);
    transform: scale(1.1);
